// ===========================================
// Base - Reset & Global Styles
// ===========================================

@use "variables" as *;
@use "mixins" as *;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-base;
  @include no-select;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.4;
  transition: background-color $transition-base, color $transition-base;
}

#root {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color $transition-slow;

  &:hover {
    color: var(--primary-hover);
  }
}

// User selectable text (override)
.user-select {
  -moz-user-select: initial;
  user-select: initial;
}
