// ===========================================
// Base - Reset & Global Styles
// ===========================================

@use "variables" as *;
@use "mixins" as *;

* {
  box-sizing: border-box;
}

html {
  height: 100%;

  &:has(body.popup) {
    width: 800px;
    min-height: 600px;
  }
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size-base;
  min-width: 750px;
  @include no-select;
  height: 100%;
  background-color: $bg-color;
  color: $text-color;
  line-height: 1.4;

  &.popup {
    width: 800px;
    min-height: 600px;
  }

  &.loading {
    visibility: hidden;
  }
}

#root {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color $transition-slow;

  &:hover {
    color: $primary-hover;
  }
}

// User selectable text (override)
.user-select {
  -moz-user-select: initial;
  user-select: initial;
}
