// ===========================================
// Status Panel - Footer status bar
// ===========================================

@use "variables" as *;
@use "mixins" as *;

.status-panel {
  border-top: 1px solid $border-color;
  background: $card-bg;
  padding: 6px 12px;
  font-size: $font-size-sm;

  td {
    &.status {
      width: 34%;

      div {
        @include text-ellipsis;
        max-width: 250px;
      }
    }

    &.space {
      padding-left: 20px;
      background-repeat: no-repeat;
      background-position: 0 center;
      width: 15%;
      @include text-ellipsis;
      cursor: pointer;
      max-width: 160px;
      color: $text-secondary;

      &.disk {
        background-image: url(../img/free_space.svg);
        background-size: 16px;
      }
    }

    &.speed {
      width: 25%;
      padding-left: 16px;
      background-repeat: no-repeat;
      background-position: 0 center;
    }

    &.download {
      background-image: url(../img/arrowDown.svg);
      background-position: left center;
      background-size: 13px;
      color: $progress-download;
    }

    &.upload {
      background-image: url(../img/arrowUp.svg);
      background-position: 0 center;
      background-size: 13px;
      color: $success-color;
    }
  }
}

// Speed limit badges
.speed .limit {
  padding: 2px 6px;
  border-radius: 10px;
  margin: 0 4px;
  cursor: pointer;
  color: #fff;
  font-size: $font-size-xs;
  font-weight: 500;

  &.dl {
    background-color: $primary-color;
  }

  &.up {
    background-color: $success-color;
  }
}
