// ===========================================
// Utilities - Misc utility styles
// ===========================================

@use "variables" as *;

// Settings button
div.btn.setup {
  display: inline-block;
  float: right;
  width: 18px;
  height: 18px;
  background-image: url(../img/settings.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  cursor: pointer;
  margin-right: 4px;
  opacity: 0.6;
  transition: opacity $transition-base;

  &:hover {
    opacity: 1;
  }
}

// Open in tab button
.openInTab {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  cursor: pointer;
  background-image: url(../img/openInTab.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  transition: opacity $transition-base;

  &:hover {
    opacity: 1;
  }
}
